<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="admin/new"><i class="material-icons">fiber_new</i></a></li>
        <li><a href="admin/column"><i class="material-icons">account_circle</i></a></li>
        <li><a href="admin/modify"><i class="material-icons">create</i></a></li>
        <li><a href="super-admin/users"><i class="material-icons">face</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="super-admin/category"><i class="material-icons">loyalty</i></a></li>


      </ul>
    </div>
  </nav>