<form method="POST" style="margin:30px 30px 0 0" action="/admin/new" enctype="multipart/form-data">
    <div class="input-field col s6">
        <input name="title" type="text" class="validate">
        <label for="title">Título</label>
    </div>
    <p>
        <label>
            <input type="checkbox" name="oustanding" class="filled-in" />
            <span>Destacada</span>
        </label>
    </p>
    <p>
    {{#each categories}}    
        <label>
            <input type="checkbox" name="categories"  value={{id}} class="filled-in" />
            <span>{{name}}</span>
        </label>
     {{/each}}    
    </p>


        

    <div class="input-field col s6">
        <input name="file" type="file" class="validate" multiple>
        <label for="file"></label>
    </div>

    <div class="row">
        <div class="row">
            <div class="input-field col s12">
                <textarea name="main_text" id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Campo Semántico</label>
            </div>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Publica
        <i class="material-icons right">backup</i>
    </button>
   
</form>