{{#with author}}
    <form method="POST"  action="/super-admin/mod/{{id}}" enctype="multipart/form-data">
      <div class="row">
           <div class="input-field col s6">
                 <i class="material-icons prefix">account_circle</i>
                 <input name="name" id="icon_prefix" type="text" class="validate">
                 <label for="icon_prefix">{{name}}</label>
            </div>
             <div class="input-field col s6">
                 <i class="material-icons prefix">face</i>
                 <input name="username" id="icon_telephone"  class="validate">
                 <label for="icon_telephone">{{username}}</label>
             </div>
             <div class="input-field col s6">
                 <i class="material-icons prefix">code</i>
                 <input name="password" id="icon_telephone"  class="validate">
                  <label for="icon_telephone">Contraseña</label>
            </div>
             <div class="input-field col s6">
                 <input name="file" type="file" class="validate" >
                 <label for="file"></label>
            </div>
           <button class="btn waves-effect waves-light" type="submit" name="action">Submit
           <i class="material-icons right">send</i>
           </button>
      </div>
    </form>
{{/with}}


   
   
   
   
   
   
   
   
   
   



