 <div class="col s12 m7 newformat">
    <div class="card horizontal outstanding">
      {{#if photo}}
      <div class="card-image small">
        <img src="/images/{{photo.filename}}">
      </div>
      {{/if}}
      <div class="card-stacked">
        <div class="card-content new">
         <a href="/art/{{id}}"> <p class="title-new">{{title}}</p> </a>
        </div>
       
      </div>
    </div>
  </div>