 <div class="col s12 m7 newformat">
    <div class="card horizontal outstanding">
      <div class="card-image small">
        <img src="{{photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{title}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>