
           <img src="">
          <span class="card-title"></span>


 <div class="row outstanding">
    <div class="col s12 m7 ">
      <div class="card outstanding">
        <div class="card-image">
          <img src="{{photo}}" class="outstanding">
          <span class="card-title">{{title}}</span>
        </div>
        
      </div>
    </div>
  </div>
       