<div class="search-module">
  <form method="POST" action="/search">
  <input class="search" type="text" name="lookin" ></input>
  
  <button type="submit" ><i class="fas fa-search"></i></button>
</form>

</div>