<span >
  <form method="POST" action="/search" class="search-module">
     <input class="search" type="text" name="lookin" ></input>
     <button type="submit" ><i class="fas fa-search"></i></button>
</form>

</span>