<form method="POST" action="/super-admin/category">
    <div class="input-field col s6">
          <input name="name" id="first_name" type="text" class="validate">
          <label for="first_name">Introduce una nueva categoría</label>
   </div>
   <button class="btn waves-effect waves-light" type="submit" name="action">Nueva
    <i class="material-icons right">flare</i>
   </button>
        


</form>