<div class="column-style"></div>
  <div class="author-box">
      <div>
              <img src="/images/{{author.avatar.[0].filename}}">
               <p class="author-naming">por {{author.name}}</p>

      </div>
    <h3>&#8220{{column.title}}&#8221</h3>
    <i class="fab fa-facebook-square fa-2x icon"></i>&nbsp;
    <i class="fab fa-twitter-square fa-2x icon"></i>
  </div>
 <span class="horizontal-blue"></span>

<p class="opinion-column">{{column.main_text}}</p>
<br>
 <span class="horizontal-blue"></span>

</div>