{{#if user}}
{{> author_bar }}
{{/if}}

{{#each articles}}

{{#if outstanding}}
{{> outstand this}}
{{else}}
{{> new this}}
{{/if}}


{{/each}}
{{#each columns}}
<p>{{highlights}}</p>
<h1>{{title}}</h1>

{{/each}}

