<div class="edit-post">
{{#with column}}
<form method="POST" action="/admin/modify/col/{{id}}">   
   <div class="row">
        <div class="input-field col s12">
          <input value={{title}} id="email" name="title" class="validate">
          <label for="email">Título</label>
        </div>
    </div>

<div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea3" name="main_text" class="materialize-textarea">{{main_text}}</textarea>
          <label for="textarea1">Cuerpo</label>
        </div>
      </div>
  </div>

 <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" name="highlights" class="materialize-textarea" data-length="50">{{highlights}}</textarea>
            <label for="textarea2">Párrafo destacado</label>
          </div>
</div>

<button class="btn waves-effect waves-light" type="submit" name="action">Modifica
    <i class="material-icons right">done</i>
  </button>




</form>
{{/with}}
</div>