@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  margin-left: 30px !important;

}
.body-article{
  padding-top: 12em;
  margin: 2px 2px 0 2px;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}
.body-article p {
  width: 80%;
  margin-left: 30px;
}
.body-article img {
  margin-left: 2em;
}
.article-time{
  font-size: 10px;
}
.article-category{
  font-size:20px;
  font-weight: bolder;
}
.article-author {
  font-size:16px;
}

.horizontal-blue {
  align-self: center;
  margin-top:2em;
  width: 90vw;
  min-height: 3px;
  background: blue;
}

.pinput {
  margin-left: 80px !important;
  width: 50% !important;
}
.search {
  width: 30% !important;
  margin-left: 6px !important;
  margin-top: 8px !important;


}
.search-container {
  display: flex;
  flex-flow: row wrap;
}

a {
  text-decoration: none;
  
  
}
a:hover {
  text-decoration-line: underline;
}

select {
  display: block;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

.outstanding {
  width: 90vw
}

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.h99 {
  font-size: 11px;
}

.header-style {
  margin-left: -30px !important;
  margin-right: -30px;
  width: 100vw;
  height: 300px;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content: center;
}
.header-style h1 {
  flex:2;
 
}
select {
  color: blue;
}
.subtitle{
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 100vw;
  height: 80px;
  flex: 1;
}
.subtitle p {
  font-family: 'Pontano Sans';
  color: #FFFFFF;
  font-size: 32px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

.columnist {
  border-radius: 25% !important;
  margin: 3em 3em 3em 3em;
  height: 10em;
  width: 10em;
}

p {
  text-decoration-color: #000000;
  font-family: 'Pontano Sans';
  font-size: 40px;
}

h2 {
  color: #FFFFFF;
text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px
 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 
 0 #000000, 0px -2px 0 #000000;
  font-size: 3em;

}

@media (max-width : 900px) {
  h2 {
    font-size: 50px !important;
  }
}
@media (max-width : 600px) {
  h2 {
    font-size: 30px !important;
  }
}