body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

a {
  color: #00B7FF;
}

select {
  display: block;
}
.outstanding {
  width: 80vw;
}
.newformat {
  margin-left: 1.5em;
}